<footer class="footer">
	<div class="container">
		<div class="footer-menu">
			<div class="row">
				<div class="col-sm footer-menu-col">
					<p class="footer-menu-title">Поштові послуги</p>
					<a class="footer-menu-link" href="https://newsite.dev.ukrposhta.ua/ua/ekspres" target="_blank">Укрпошта Експрес</a>
					<a class="footer-menu-link" href="smartbox" target="_blank">Укрпошта SmartBox</a>
					<a class="footer-menu-link" href="standart" target="_blank">Укрпошта Стандарт</a>
					<a class="footer-menu-link" href="mizhnarodni-vidpravlennia" target="_blank">Міжнародні відправлення</a>
					<a class="footer-menu-link" href="vidpravlennia-masoiu-ponad-30-kh" target="_blank">Відправлення масою понад 30 кг</a>
					<a class="footer-menu-link" href="kurierska-dostavka" target="_blank">Кур’єрська доставка</a>
					<a class="footer-menu-link" href="kalkuliator" target="_blank">Калькулятор</a>
				</div>
				<div class="col-sm footer-menu-col">
					<p class="footer-menu-title">Фінансові послуги</p>
					<a class="footer-menu-link" href="" target="_blank">Переказ «З картки додому»</a>
					<a class="footer-menu-link" href="" target="_blank">Переказ «З картки до відділення»</a>
					<a class="footer-menu-link" href="" target="_blank">Переказ «З картки на картку»</a>
					<a class="footer-menu-link" href="" target="_blank">Міжнародні поштові перекази</a>
					<a class="footer-menu-link" href="" target="_blank">Внутрішні поштові перекази</a>
					<a class="footer-menu-link" href="" target="_blank">Western Union, MoneyGram</a>
					<a class="footer-menu-link" href="" target="_blank">Онлайн платежі</a>
					<a class="footer-menu-link" href="" target="_blank">Страхові послуги</a>
				</div>
				<div class="col-sm footer-menu-col">
					<p class="footer-menu-title">Про Укрпошту</p>
					<a class="footer-menu-link" href="" target="_blank">Загальна інформація</a>
					<a class="footer-menu-link" href="" target="_blank">Керівництво</a>
					<a class="footer-menu-link" href="" target="_blank">Дирекції</a>
					<a class="footer-menu-link" href="" target="_blank">Кар’єра</a>
					<a class="footer-menu-link" href="" target="_blank">Закупівлі</a>
					<a class="footer-menu-link" href="" target="_blank">Публічна інформація</a>
					<a class="footer-menu-link" href="" target="_blank">Для представників ЗМІ</a>
					<a class="footer-menu-link" href="" target="_blank">Новини</a>
					<a class="footer-menu-link" href="" target="_blank">Акції</a>
				</div>
				<div class="col-sm footer-menu-col">
					<p class="footer-menu-title">Інше</p>
					<a class="footer-menu-link" href="" target="_blank">Поштовий маркет</a>
					<a class="footer-menu-link" href="" target="_blank">Власна марка</a>
					<a class="footer-menu-link" href="" target="_blank">Періодичні видання</a>
					<a class="footer-menu-link" href="" target="_blank">Для видавців</a>
					<a class="footer-menu-link" href="" target="_blank">Електронне повідомлення</a>
					<a class="footer-menu-link" href="" target="_blank">Секограма</a>
					<a class="footer-menu-link" href="/">Індекси</a>
					<a class="footer-menu-link" href="" target="_blank">Відділення</a>
					<a class="footer-menu-link" href="" target="_blank">Контакт-центр</a>
					<a class="footer-menu-link" href="" target="_blank">Довідка</a>
					<a class="footer-menu-link" href="" target="_blank">API</a>
					<a class="footer-menu-link" href="" target="_blank">Програмне забезпечення</a>
				</div>
			</div>
		</div>
		<div class="footer-info-block">
			<div class="row">
				<div class="col-xl col-lg-6 col-md-6 col-sm-12 footer-info-col address-info-col">
					<p>вул. Хрещатик, 22, м. Київ</p>
					<p>01001, Україна</p>
					<p>ф. 
						<a class="footer-menu-default-link" href="tel:+380 44 278 69">+380 44 278 69</a>
					</p>
				</div>
				<div class="col-xl col-lg-6 col-md-6 col-sm-12 footer-info-col call-center-col">
					<p>Контакт центр:
						<a class="footer-menu-custom-link" href="tel:0 800 300 545">0 800 300 545</a>
					</p>
					<p>
						<a class="footer-menu-default-link" href="javascript:void(0);" target="_blank">Завантажити Press Kit</a>
					</p>
				</div>
				<div class="col-xl col-lg-6 col-md-6 col-sm-12 footer-info-col social-col">
					<a href="https://www.facebook.com/ukrposhta" target="_blank">
						<i class="fas fa-facebook-square custom-fa"></i>
					</a>
					<a href="https://www.instagram.com/ukrposhta/" target="_blank">
						<i class="fas fa-instagram custom-fa"></i>
					</a>
					<a href="https://chats.viber.com/ukrposhta/ru" target="_blank">
						<i class="fas fa-viber custom-fa"></i>
					</a>
					<a href="https://www.linkedin.com/company/ukrposhta" target="_blank">
						<i class="fas fa-linkedin-in custom-fa"></i>
					</a>
					<a href="https://twitter.com/ukrposhta" target="_blank">
						<i class="fas fa-twitter custom-fa"></i>
					</a>
					<a href="https://www.youtube.com/channel/UCKRVreLLQ-gbc6vrdgF9uEA" target="_blank">
						<i class="fas fa-youtube custom-fa"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>
<div class="copyright-block">
	<p>2002-2019 Укрпошта. Всі права захищено.</p>
</div>